@{
    ViewData["Title"] = "Create Person";
}

<div class="container mt-4">
    <!-- PersonFormComponent - Angular-based form for creating people -->
    <app-person-form id="personCreateForm"></app-person-form>
</div>

