@import '../../../../styles/variables';

.search-bar-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  .search-field {
    width: 100%;

    mat-icon {
      color: $text-secondary;
    }

    input {
      font-size: 1rem;
    }
  }
}

// Mobile responsive
@media (max-width: 600px) {
  .search-bar-container {
    max-width: 100%;
    
    .search-field {
      input {
        font-size: 0.875rem;
      }
    }
  }
}
