<div class="video-player" [class.fullscreen]="isFullscreen">
  <div class="video-container">
    <video 
      #videoElement
      [src]="video.url"
      [poster]="video.thumbnailUrl"
      (timeupdate)="onTimeUpdate()"
      (click)="togglePlay()">
    </video>

    <div class="video-controls" [class.hidden]="!showControls">
      <mat-slider 
        min="0" 
        [max]="duration" 
        step="0.1"
        [value]="currentTime"
        (input)="seek($any($event.value))"
        class="progress-slider">
        <input matSliderThumb>
      </mat-slider>

      <div class="controls-row">
        <button mat-icon-button (click)="togglePlay()">
          <mat-icon>{{ isPlaying ? 'pause' : 'play_arrow' }}</mat-icon>
        </button>

        <div class="time-display">
          {{ formatTime(currentTime) }} / {{ formatTime(duration) }}
        </div>

        <div class="volume-control">
          <button mat-icon-button (click)="toggleMute()">
            <mat-icon>{{ isMuted ? 'volume_off' : 'volume_up' }}</mat-icon>
          </button>
          <mat-slider 
            min="0" 
            max="1" 
            step="0.1"
            [value]="volume"
            (input)="setVolume($any($event.value))"
            class="volume-slider">
            <input matSliderThumb>
          </mat-slider>
        </div>

        <button mat-icon-button (click)="toggleFullscreen()">
          <mat-icon>{{ isFullscreen ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="video-info" *ngIf="video.title || video.description">
    <h3 *ngIf="video.title">{{ video.title }}</h3>
    <p *ngIf="video.description">{{ video.description }}</p>
  </div>
</div>
