@{
    ViewData["Title"] = "Email Confirmed";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-8 col-lg-6">
        <h2>@ViewData["Title"]</h2>
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Success!</h4>
            <p>Your email has been confirmed successfully.</p>
            <hr>
            <p class="mb-0">You can now access all features of your account.</p>
        </div>
        <p>
            <a asp-action="Login" class="btn btn-primary">Go to Login</a>
        </p>
    </div>
</div>
